<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue-form demo</title>
    <!-- <link rel="stylesheet" href="http://doc.qiwoo.org/static/css/main.css"> -->
    <style>
        #app {
            margin: 2em;
        }
        .form .control label {
            margin-right: 1em;
        }
        .form .control label em {
            margin-left: 1em;
        }
    </style>
</head>
<body>
    <div id="app">
        <form class="form" v-validator="registerForm" @submit="submit" novalidate>

            <!-- 

                                     EXAMPLES FOR THIS LIBRARY
                -->
            <!-- 

                                TEXT MESSAGE VALIDATION

             -->
             <dl class="item">
                <dt class="label">Text</dt>
                <dd class="control">
                    <input type="text" v-model="text" data-type="text" async="1000" debounce="1000">
                </dd>
            </dl>
<!-- 
            <dl class="item">
                <dt class="label"></dt>
                <dd class="control">
                    <h3>no validate</h3>
                </dd>
            </dl> -->
            <!-- 

                               MIN-LENGTH VALIDATION

             -->            
            <dl class="item">
                <dt class="label">min-length 3 </dt>
                <dd class="control">
                    <input type="text" v-model="userName"  minlength="3" async="1000" debounce="1000">
                </dd>
            </dl>
            <!-- 

                               MAX-LENGTH VALIDATION

             -->  
             <dl class="item">
                <dt class="label">max-length 3  </dt>
                <dd class="control">
                    <input type="text" v-model="userName"  maxlength="3" async="1000" debounce="1000">
                </dd>
            </dl>
             
            <!-- 

                               EMAIL VALIDATION

             -->
            <dl class="item">
                <dt class="label">email</dt>
                <dd class="control">
                    <input type="text" v-model="email" data-type="email">
                </dd>
            </dl>

            <!-- 

                               PASSWORD VALIDATION

             -->            
            <dl class="item">
                <dt class="label">password</dt>
                <dd class="control">
                    <input type="password" v-model="password" >
                </dd>
            </dl>
            <!-- 

                               number VALIDATION

             -->
             <!-- <dl class="item">
                <dt class="label">number</dt>
                <dd class="control">
                    <input type="number" v-model="number" data-type="number">
                </dd>
            </dl> -->
            <!-- 

                               PHONE VALIDATION( поправить св-во для инпута)

             -->
             <dl class="item">
                <dt class="label">phone</dt>
                <dd class="control">
                    <input type="phone" v-model="phone" data-type="phone">
                </dd>
            </dl>
            <!-- 

                               LOCAL-PHONE VALIDATION( поправить св-во для инпута)

             -->
             <dl class="item">
                <dt class="label">local phone</dt>
                <dd class="control">
                    <input type="phone" v-model="localphone" data-type="localphone">
                </dd>
            </dl>
             




            <!-- 

                              REQUIRED VALIDATION

             -->
             <dl class="item">
                <dt class="label"> required </dt>
                <dd class="control">
                    <input type="text" v-model="textRequire"  required async="1000" debounce="1000">
                </dd>
            </dl>



             <dl class="item">
                <dt class="label">Скрыть окно：</dt>
                <dd class="control">
                    <label><input type="radio" v-model="type" value="1" required>пункт 1</label>
                    <label><input type="radio" v-model="type" value="2">пункт 2 ( показать поле ввода)</label>
                </dd>
            </dl>
            <dl class="item">
                <dt class="label">Открытие окна：</dt>
                <dd class="control">
                    <label><input type="checkbox" v-model="business" value="1" required> пункт 1</label>
                    <label><input type="checkbox" v-model="business" value="2">пункт 2</label>
                    <label><input type="checkbox" v-model="business" value="3">пункт 3</label>
                </dd>
            </dl> 
            <dl class="item">
                <dt class="label">Выберите из списка</dt>
                <dd class="control">
                    <select v-model="area" required>
                        <option value="">список </option>
                        <option value="1"> coffe </option>
                        <option value="1"> coffe </option>
                        <option value="1"> coffe </option>
                        <option value="1"> coffe </option>
                        <option value="1"> coffe </option>
                        <option value="1"> coffe </option>
                    </select>
                </dd>
            </dl>
            <dl class="item" v-show="type==2">
                <dt class="label">min-length 5 max-length 300</dt>
                <dd class="control">
                    <textarea v-model="desc" maxlength="300" minlength="5"></textarea>
                </dd>
            </dl>
            <dl class="item">
                <dt class="label"> </dt>
                <dd class="control">
                    <button  type="submit">submit</button>
                </dd>
            </dl>
        </form>
    </div>
    <script src="http://cdn.jsdelivr.net/vue/1.0.17/vue.min.js"></script>
    <script src="../dist/vue-validator.js"></script>
    <script>
        Vue.use(VueValidator);
        // VueValidator.addRule('async', function(value, input, param) {
        //     return new Promise(function(resolve, reject) {
        //         setTimeout(function() {
        //             var yes =  {
        //                 valid: true
        //             };
        //             var no = {
        //                 valid: false,
        //                 msg: 'Пожалуйста исправьте, данные введены неверно' 
        //             };
        //             resolve(value === 'haha' ? yes : no);
        //         }, parseInt(param));
        //     });
        // });
        var vm = new Vue({
            el: '#app',
            data: {
                userName: '',
                password: '',
                email: '',
                business: [],
                area: '',
                textRequire: '',
                number: '',
                phone: '',
                localphone: ''
            },
            methods: {
                submit: function(e) {
                    e.preventDefault();
                    Promise.resolve(this.registerForm.$valid).then(function(valid) {
                        if (valid) {
                            alert(' valiiid in methods!!!!');
                        }
                    });
                }
            }
        });
    </script>
</body>
</html>
